@import '../../styles/config/variables';

.container {
    width: 100%;
    font-size: 2em;
    text-align: center;
    padding: 5px;
    position: sticky;
    top: 45px;

    .button {
        color: $color-primary;
        opacity: 0.4;
        transition-duration: 0.4s;
        cursor: pointer;
        margin: 0 auto;
        width: 60px;

        &:hover {
            opacity: 1;

            & > .text {
                opacity: 1;
            }
        }

        .text {
            opacity: 0;
            font-size: 0.4em;
            transition-duration: 1s;
        }

        &.dark {
            color: $color-night-lightgrey;
        }
    }
}
