@import '../../styles/config/variables';

.logoutIconWrapper {
    transition-duration: 0.2s;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: translateX(5px);
    }

    .logoutIcon {
        color: $color-primary;
        font-size: 120px;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }

        &.dark {
            color: $color-night-white;
        }
    }
}