@import "../../styles/config/variables";

.wrapper {
  text-align: center;
  animation: appearFromTop 0.25s forwards;

  .bigLogo {
    width: 100%;
    max-width: 320px;
    height: auto;

    &.dark {
      color: $color-night-white;
    }
  }

  .text {
    font-weight: 300;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 25px;

    & > span {
      color: $color-primary;
    }
  }

  .buttonWrapper {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@keyframes appearFromTop {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
