$color-primary-text : #141f1f;
$color-primary-white: #fff;
$color-black: #000;
$color-mystic-white: #e0ebeb;
$color-primary: #3366ff;
$color-ivory-white: #fffff2;
$color-error: #ec0e0e;
$color-success: #006600;
$color-error-background: #fad7d7;
$color-success-background: #66ff99;
$color-alto-white: #d1d1d1;
$color-grid-border: #d1d1d175;


// Nightmode theme //
$color-night-white: #f2f2f2;
$color-night-grey: #404040;
$color-night-darkgrey: #2F2F2F;
$color-night-dark: #0d0d0d;
$color-night-lightgrey: #d2d2d2;

// Disabled //
$color-disabled-background: #ccc;
$color-disabled: #808080;
