.top_panel {
    width: 100%;
    color: #3366FF;
    font-size: 2em;
    text-align: center;
    padding: 5px;
    position: sticky;
    top: 45px;
}
.button_text {
    opacity: 0;
    font-size: 0.4em;
    transition-duration: 1s;
}
.back_button {
    opacity: 0.4;
    transition-duration: 1s;
    cursor: pointer;
}
.back_button:hover {
    opacity: 1;
}
.back_button:hover .button_text {
    opacity: 1;
}