
.center {
    font-weight: bold;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputLine {
    display: flex;
    width: 100%;
    justify-content: center;
}
.thumb {
    width: 24px;
    height: 24px;
}