.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bigLogo_container {
    margin-bottom:25px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.bigLogo {
    width: 300px;
    height: auto;
    margin: 0 auto;
}
.text {
    font-weight: 300;
    padding: 25px;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 25px;
}

.textAlt {
    font-weight: 300;
    padding: 25px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 25px;
}


.buttons {
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 0;
}